<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Header</title>
<!--  ><style>
.book {
	background-color: red;
}
</style>-->
</head>

<body th:fragment="header">
	<div th:insert="~{link :: links}"></div>
	<div class="wrapper" id="wrapper">
		<!-- Header -->
		<header id="wn__header"
			class="header__area header__absolute sticky__header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-6 col-lg-2">
						<div class="logo">
							<a th:href="@{/index}"> <img alt="logo images"
								th:src="@{/resources/images/logo/logo.png}" />
							</a>
						</div>
					</div>
					<div class="col-lg-8 d-none d-lg-block">
						<nav class="mainmenu__nav">
							<ul class="meninmenu d-flex justify-content-start">
								<li class="drop with--one--item"><a th:href="@{/index}"
									th:text="#{lb.home}"></a></li>
								<li class="drop"><a href="#" th:text="#{lb.shop}"></a>
									<div class="megamenu mega03">
										<ul class="item item03">
											<li class="title">Shop Layout</li>
											<li><a th:href="@{/shop-grid}">Shop Grid</a></li>
											<li><a th:href="@{/single-product}">Single Product</a></li>
										</ul>
										<ul class="item item03">
											<li class="title"><a th:href="@{/shop-grid}">Shop
													Page</a></li>
											<li><a href="myaccount">My Account</a></li>
											<li><a href="cart.html">Cart Page</a></li>
											<li><a href="checkout">Checkout Page</a></li>
											<li><a href="wishlist.html">Wishlist Page</a></li>
											<li><a href="error404.html">404 Page</a></li>
											<li><a href="faq.html">Faq Page</a></li>
										</ul>
										<ul class="item item03">
											<li class="title">Bargain Books</li>
											<li><a th:href="@{/shop-grid}">Bargain Bestsellers</a></li>
											<li><a th:href="@{/shop-grid}">Activity Kits</a></li>
											<li><a th:href="@{/shop-grid}">B&N Classics</a></li>
											<li><a th:href="@{/shop-grid}">Books Under $5</a></li>
											<li><a th:href="@{/shop-grid}">Bargain Books</a></li>
										</ul>
									</div></li>
								<li class="drop"><a th:href="@{/shop-grid}"
									th:text="#{lb.books}"></a>
									<div class="megamenu mega03">
										<ul class="item item03">
											<li class="title">Categories</li>
											<li><a th:href="@{/shop-grid}" th:text="#{lb.biography}">
											</a></li>
											<li><a th:href="@{/shop-grid}" th:text="#{lb.business}">
											</a></li>
											<li><a th:href="@{/shop-grid}" th:text="#{lb.cookbook}">
											</a></li>
											<li><a th:href="@{/shop-grid}" th:text="#{lb.health}"></a></li>
											<li><a th:href="@{/shop-grid}" th:text="#{lb.history}"></a></li>
										</ul>
										<ul class="item item03">
											<li class="title">Customer Favourite</li>
											<li><a th:href="@{/shop-grid}" th:text="#{lb.mystery}"></a></li>
											<li><a th:href="@{/shop-grid}"
												th:text="#{lb.inspiration}"></a></li>
											<li><a th:href="@{/shop-grid}" th:text="#{lb.romance}"></a></li>
											<li><a th:href="@{/shop-grid}" th:text="#{lb.fiction}"></a></li>
											<li><a th:href="@{/shop-grid}" th:text="#{lb.self}">Sleeveless</a></li>
										</ul>
										<ul class="item item03">
											<li class="title">Collections</li>
											<li><a th:href="@{/shop-grid}">Science </a></li>
											<li><a th:href="@{/shop-grid}">Fiction/Fantasy</a></li>
											<li><a th:href="@{/shop-grid}">Self-Improvemen</a></li>
											<li><a th:href="@{/shop-grid}">Home & Garden</a></li>
											<li><a th:href="@{/shop-grid}">Humor Books</a></li>
										</ul>
									</div></li>
								<li class="drop"><a th:href="@{/shop-grid}"
									th:text="#{lb.kids}"></a>
									<div class="megamenu mega02">
										<ul class="item item02">
											<li class="title">Top Collections</li>
											<li><a th:href="@{/shop-grid}">American Girl</a></li>
											<li><a th:href="@{/shop-grid}">Diary Wimpy Kid</a></li>
											<li><a th:href="@{/shop-grid}">Finding Dory</a></li>
											<li><a th:href="@{/shop-grid}">Harry Potter</a></li>
											<li><a th:href="@{/shop-grid}">Land of Stories</a></li>
										</ul>
										<ul class="item item02">
											<li class="title">More For Kids</li>
											<li><a th:href="@{/shop-grid}">B&N Educators</a></li>
											<li><a th:href="@{/shop-grid}">B&N Kids' Club</a></li>
											<li><a th:href="@{/shop-grid}">Kids' Music</a></li>
											<li><a th:href="@{/shop-grid}">Toys & Games</a></li>
											<li><a th:href="@{/shop-grid}">Hoodies</a></li>
										</ul>
									</div></li>
								<li class="drop"><a href="#" th:text="#{lb.pages}"></a>
									<div class="megamenu dropdown">
										<ul class="item item01">
											<li><a th:href="@{/about}">About Page</a></li>
											<li class="label2"><a href="portfolio.html">Portfolio</a>
												<ul>
													<li><a href="portfolio.html">Portfolio</a></li>
													<li><a href="portfolio-details.html">Portfolio
															Details</a></li>
												</ul></li>
											<li><a href="myaccount">My Account</a></li>
											<li><a href="cart">Cart Page</a></li>
											<li><a href="checkout.html">Checkout Page</a></li>
											<li><a href="wishlist.html">Wishlist Page</a></li>
											<li><a href="403">404 Page</a></li>
											<li><a href="faq.html">Faq Page</a></li>
											<li><a href="team.html">Team Page</a></li>
										</ul>
									</div></li>
								<li class="drop"><a href="blog.html">Blog</a>
									<div class="megamenu dropdown">
										<ul class="item item01">
											<li><a href="blog.html">Blog Page</a></li>
											<li><a href="blog-details.html">Blog Details</a></li>
										</ul>
									</div></li>
								<li><a th:href="@{/contact}" th:text="#{lb.contact}"></a></li>
							</ul>
						</nav>
					</div>
					<div class="col-md-6 col-sm-6 col-6 col-lg-2">
						<ul
							class="header__sidebar__right d-flex justify-content-end align-items-center">
							<li id="countSearch" class="shop_search"><a
								th:href="@{/search}" class="search__active"></a></li>
							<li class="wishlist"><a href="#"></a></li>
							<li class="shopcart"><a class="cartbox_active"
								href="cart.html"><span class="product_qun">3</span></a> <!-- Start Shopping Cart -->
								<div class="block-minicart minicart_active"></div> <!-- End Shopping Cart -->
							</li>
							<li class="setting__bar__icon"><a class="setting__active"
								href="#"></a>
								<div class="searchbar__content setting__block">
									<div class="content-inner">
										<div class="switcher-currency">
											<strong class="label switcher-label"> <span>Currency</span>
											</strong>
											<div class="switcher-options">
												<div class="switcher-currency-trigger">
													<span class="currency-trigger">USD - US Dollar</span>
													<ul class="switcher-dropdown">
														<li>GBP - British Pound Sterling</li>
														<li>EUR - Euro</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="switcher-currency">
											<strong class="label switcher-label"> <span>Language</span>
											</strong>
											<div class="switcher-options">
												<div class="switcher-currency-trigger">
													<span class="currency-trigger">Country</span>
													<ul class="switcher-dropdown">
														<li><a href="?language=en">English</a></li>
														<li><a href="?language=vi">Vietnamese</a></li>
													</ul>
												</div>
											</div>
										</div>
										<div class="switcher-currency">
											<strong class="label switcher-label"> <span>Select
													Store</span>
											</strong>
											<div class="switcher-options">
												<div class="switcher-currency-trigger">
													<span class="currency-trigger">Fashion Store</span>
													<ul class="switcher-dropdown">
														<li>Furniture</li>
														<li>Shoes</li>
														<li>Speaker Store</li>
														<li>Furniture</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="switcher-currency">
											<strong class="label switcher-label"> <span>My
													Account</span>
											</strong>
											<div class="switcher-options">
												<div class="switcher-currency-trigger">
													<div class="setting__menu">
														<span><a th:href="@{/logout}">Sign out</a></span> <span><a
															href="#">My Account</a></span> <span><a href="#">My
																Wishlist</a></span> <span><a href="#">Sign In</a></span> <span><a
															href="#">Create An Account</a></span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div></li>
						</ul>
					</div>
				</div>
				<!-- Start Mobile Menu -->
				<div class="row d-none">
					<div class="col-lg-12 d-none">
						<nav class="mobilemenu__nav">
							<ul class="meninmenu">
								<li><a href="index.html">Home</a></li>
								<li><a href="#">Pages</a>
									<ul>
										<li><a href="about.html">About Page</a></li>
										<li><a href="portfolio.html">Portfolio</a>
											<ul>
												<li><a href="portfolio.html">Portfolio</a></li>
												<li><a href="portfolio-details.html">Portfolio
														Details</a></li>
											</ul></li>
										<li><a href="my-account.html">My Account</a></li>
										<li><a href="cart">Cart Page</a></li>
										<li><a href="checkout.html">Checkout Page</a></li>
										<li><a href="wishlist.html">Wishlist Page</a></li>
										<li><a href="error404.html">404 Page</a></li>
										<li><a href="faq.html">Faq Page</a></li>
										<li><a href="team.html">Team Page</a></li>
									</ul></li>
								<li><a th:href="@{/shop-grid}">Shop</a>
									<ul>
										<li><a th:href="@{/shop-grid}">Shop Grid</a></li>
										<li><a href="single-product.html">Single Product</a></li>
									</ul></li>
								<li><a href="blog.html">Blog</a>
									<ul>
										<li><a href="blog.html">Blog Page</a></li>
										<li><a href="blog-details.html">Blog Details</a></li>
									</ul></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<!-- End Mobile Menu -->
				<div class="mobile-menu d-block d-lg-none"></div>
				<!-- Mobile Menu -->
			</div>
		</header>
		<!-- //Header -->
		<!-- Start Search Popup-->
		<div
			class="brown--color box-search-content search_active block-bg close__top">
			<form id="search_mini_form" class="minisearch" action="#">
				<div class="field__search">
					<input type="text" placeholder="Search entire store here..."
						id="search">
					<div class="action" id="result">
						<a href="#"> <i class="zmdi zmdi-search"></i></a>
					</div>

					<div id="completeSearch"></div>
				</div>
			</form>
			<div class="close__wrap">
				<span>close</span>
			</div>
		</div>
		<!-- End Search Popup -->
		<!-- Start Slider area -->
		<div
			class="slider-area brown__nav slider--15 slide__activation slide__arrow01 owl-carousel owl-theme">
			<!-- Start Single Slide -->
			<div
				class="slide animation__style10 bg-image--1 fullscreen align__center--left">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="slider__content">
								<div class="contentbox">
									<h2 th:text="#{lb.best}">
										<span th:text="#{lb.your}"></span>
									</h2>
									<h2 th:text="#{lb.favorite}">
										<span th:text="#{lb.book}"></span>
									</h2>
									<h2 th:text="#{lb.here}"></h2>
									<a class="shopbtn" href="#" th:text="#{lb.shopnow}"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Single Slide -->
			<!-- Start Single Slide -->
			<div
				class="slide animation__style10 bg-image--7 fullscreen align__center--left">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="slider__content">
								<div class="contentbox">
									<h2 th:text="#{lb.best}">
										<span th:text="#{lb.your}"></span>
									</h2>
									<h2 th:text="#{lb.favorite}">
										<span th:text="#{lb.book}"></span>
									</h2>
									<h2 th:text="#{lb.here}"></h2>
									<a class="shopbtn" href="#" th:text="#{lb.shopnow}"></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Single Slide -->
		</div>
	</div>
	<!-- End Slider area -->
</body>
</html>